/*Header*/

.nav-link.active {
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
}

body {
    padding-top: 80px; /* Ajustado para reduzir a altura da navbar */
}

.navbar {
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    position: absolute;
    width: 100%;
}

.navbar.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
}

.navbar.scrolled {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-item :hover {
    color: #f0ca8c;
}

.navbar-nav {
    flex-grow: 1;
    justify-content: center;
}

.home-button {
    background-color: #010101;
    color: white;
    border: none;
    padding: 8px 16px; /* Reduzido para mobile */
    font-size: 14px;
    border-radius: 6px; /* Reduzido para mobile */
    text-align: center;
    cursor: pointer;
}

.navbar-brand, .nav-link, .dropdown-item {
    font-size:1rem; 
}
.nav-item {
    margin: 2px 15px; /* Espaçamento vertical uniforme para todos os itens */
}

.dropdown .dropdown-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 3px 0;
    margin: 0;
    z-index: 1000;
    width: 300px; /* Adjust the width of the dropdown menu */
}

.dropdown .dropdown-menu li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.dropdown .dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown .dropdown-menu a {
    padding: 10px 20px;
    display: block;
    color: #333;
    text-decoration: none;
}

.dropdown .dropdown-menu a:hover {
    color: #d8a85c;
    background-color: #ffffff;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Mobile Adjustments */
@media (max-width: 600px) {
    .nav-item {
        margin: 1px 0; /* Espaçamento vertical uniforme para todos os itens */
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-brand img {
        height: 50px; /* Redução do logo no mobile */
    }

    .home-button {
        padding: 6px 12px;
        font-size: 24px; /* Fonte reduzida para mobile */
    }

    .dropdown .dropdown-menu {
        width: 200px; /* Redução de largura no mobile */
    }

    .navbar-brand, .nav-link, .dropdown-item {
        font-size: 1rem; /* Redução adicional para mobile */
    }
    .nav-link.active {
        border-bottom: 2px solid #000;
        padding-bottom: 4px;
        width: fit-content; /* Para que o comprimento da linha preta seja apenas o suficiente para o texto */
        margin: 0 auto; /* Centraliza a linha preta */
    }
        /* Centraliza os itens do dropdown */
    .dropdown .dropdown-menu {
        display: none; /* Oculto por padrão */
        text-align: center; /* Centraliza o texto */
        position: absolute;
        left: 50%;
        transform: translateX(-50%); /* Centraliza horizontalmente o dropdown */
        width: 250px; /* Ajuste a largura conforme necessário */
    }

    .dropdown:hover .dropdown-menu {
        display: block; /* Mostra o menu ao passar o mouse */
    }

}

/**/




/*Footer*/

footer {
    background-color: #f9f9f9; /* Fundo suave */
    padding: 40px 0;
    color: #333;
    font-family: 'Arial', sans-serif;
    border-top: 2px solid #ddd; /* Borda superior sutil */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza verticalmente */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Padding interno do container */
}

.logo1 img {
    max-width: 220px; /* Tamanho aumentado do logo principal */
}

.contact, .follow, .logo1 {
    flex: 1;
    padding: 0 20px; /* Padding lateral consistente */
}

.contact {
    /* Adiciona padding e garante que o conteúdo fique centralizado verticalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact h3, .follow h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #000; /* Cor de destaque */
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact li .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.follow .social-icons {
    display: flex;
    gap: 20px; /* Espaço aumentado para ícones maiores */
    margin-top: 10px;
}

.social-icons a {
    transition: transform 0.3s, filter 0.3s;
}

.social-icons a .social-icon {
    width: 50px; 
    height: 50px;
}

.social-icons a:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.complaint-link {
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
    color: #555;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s;
}

.complaint-link:hover {
    color: #000;
}

.complaint-logo {
    max-width: 180px; 
    height: auto; 
}

.fa {
    margin-right: 8px;
}
.reclamacoes{
    padding-top: 20px;
}

#footer{
    padding-top: 5% ;
}


.footer-bottom {
    background-color: #f9f9f9; 
    padding: 10px 0;
    text-align: center;
    font-size: 12px; 
    color: #666;  
    border-top: 1px solid #ccc; 
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: #0077b6; 
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer-bottom {
        font-size: 11px; 
        
    }
    .logo1 {
        display: none; /* Oculta o logo em dispositivos móveis */
    }
}


.carousel-inner{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;

}



.carousel-item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.text{
    margin: 10%;
    font-family:'Playfair Display', serif;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #f7f7f7; /* Light background */
    padding: 4%;
    border-radius: 8px;

}

h5 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

/* Styling the list */
.text ul {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0; /* Remove left padding */
    text-align: center;
}

.text ul li {
    font-size: 1.5rem;
    line-height: 2;
    margin-bottom: 10px;
    position: relative; /* So we can position icons */
    color: #333;

}

/*Language*/

.language-selector {
    display: flex;
    gap: 15px;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 15px;
    background-color: #ece5e5d8;
}

.language-selector a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 16px;
    transition: color 0.3s, font-weight 0.3s;
}

.language-selector a:focus {
    font-weight: bold;
    outline: none; /* Remove a borda padrão de foco */
}

.language-selector a:hover {
    color: gray;
}

.language-selector {
    display: flex;
    gap: 15px;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 15px;
    background-color: #ece5e5d8;
}

@media (max-width: 600px) {
    .language-selector {
        padding-top: 5px;
    }
}