html, body {
    margin: 0;
    padding: 0;
    
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    
}


.logo {
    display: flex;
    align-items: center;
}


.logo img{
    max-width: 80px;
    height: auto;
    margin-right: 0;
}
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}
.nav-links li {
    margin: 0 35px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    transition: #d8a85c 0.3s ease;
    
}

.nav-links a:hover {
    color: #d8a85c; 
}

.dropdown .dropdown-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 3px 0;
    margin: 0;
    z-index: 1000;
    width: 300px; /* Adjust the width of the dropdown menu */
}

.dropdown .dropdown-menu li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.dropdown .dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown .dropdown-menu a {
    padding: 10px 20px;
    display: block;
    color: #333;
    text-decoration: none;
}

.dropdown .dropdown-menu a:hover {
    color: #d8a85c;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

.reservas {
    background-color: black;
    color: white !important;
    padding: 15px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}


.reservas:hover {
    background-color: #d8a85c;
}

.contactsdiv{
    
    display: flex;
    align-items: center; /* Center the list items */
    justify-content: flex-start; /* Center the content vertically (if height is defined) */
    height: 30px;
    color: #333;
    background-color: #eee9e9;
    
}

.contacts{
    list-style: none; /* Removes the bullet points from the list */
    padding: 0; /* Remove default padding from the list */
    margin: 15px; /* Remove default margin from the list */
    display: flex;
}
.contacts li{
    transition:0.3s ease;
    font-size: 16px; /* Adjust the font size */
    margin-bottom: 10px;
    margin: 40px;

}

.contacts :hover {
    color: #f0ca8c; 
}


.carousel-inner{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;

}



.carousel-item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 36%); /* 3 colunas de tamanho igual */
    grid-gap: 15px; /* Espaçamento entre as imagens */
    width: 100%; /* Ocupa a largura total da janela */
    padding: 10px; /* Margem interna */
    box-sizing: border-box; /* Garante que padding não afete a largura total */
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 8%;
}

/* Contêiner de cada imagem */
.image-container {
    position: relative;
    overflow: hidden; /* Esconde qualquer excesso */
}

/* Imagens que preenchem totalmente o espaço */
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
}

.text-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto semitransparente */
    color: white;
    opacity: 0; /* Invisível por padrão */
    transition: opacity 0.6s ease-in-out;
}

.image-container:hover .text-overlay {
    opacity: 1; /* Mostra o texto ao passar o mouse */
}

footer {
    background-color: #f4f3f3bb;
    color: #333;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    margin-top: 30px;
}
  
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


  
.contact-section, .follow-section {
    width: 30%;
    
}
  
.contact-section h3, .follow-section h3 {
    font-size: 2;
    margin-bottom: 10px;
    font-weight: 500;
    text-align: start;
}

.contact-section p{
    margin: 0 10px;
    font-size: 18px;
    text-align: start;

}
  
.contact-section a, .follow-section a {
    color: #3e3e3e;
    text-decoration: none;
}
  
.follow-section .social-icons a {
    margin-right: 10px;
}
  
.footer-bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    font-size: 0.8rem;
    background-color: #eee9e9;
}
  
.footer-bottom a {
    margin-left: 10px;
    color: #333;
    text-decoration: none;
}
  
.legal-info {
    display: flex;
    align-items: center;
}
  
  .legal-info img {
    width: 50px;
    margin-right: 10px;
  }
  
.social-icons img {
    width: 24px;
    height: 24px;
}

.instagram-btn {
    display: inline-block;
    transition: transform 0.3s ease;
}
  
.instagram-btn:hover {
    transform: scale(1.1);
}

.facebook-btn {
    display: inline-block;
    transition: transform 0.3s ease;
}
  
.facebook-btn:hover {
    transform: scale(1.1);
}