/*Header*/
.nav-link.active {
    border-bottom: 2px solid #000; /* Substitua #000 pela cor desejada */
    padding-bottom: 4px; /* Ajuste o espaçamento conforme necessário */
}

body {
    padding-top: 100px; /* Ajuste este valor conforme a altura da navbar */
}
.navbar {
    background-color: #fff; /* Fundo branco constante */
    transition: box-shadow 0.3s ease;
    position: absolute; /* Inicialmente não fixa */
    width: 100%;
}
.navbar.fixed-top {
    position: fixed; /* Fixa a navbar no topo */
    top: 0;
    left: 0;
    }

.navbar.scrolled {
    background-color: #fff; /* Cor de fundo quando fixo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional para efeito de elevação */
}
.nav-item :hover {
    color: #f0ca8c; 
}

.navbar-nav {
    flex-grow: 1;
    justify-content: center;
}

.home-button {
    background-color: #010101; /* Bootstrap's primary color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
/*
.header-text{
    font-family:  /*editar*/
*/
.navbar-brand, .nav-link, .dropdown-item {
    font-size:1rem; 
}
.nav-item{
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.dropdown .dropdown-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 3px 0;
    margin: 0;
    z-index: 1000;
    width: 300px; /* Adjust the width of the dropdown menu */
}

.dropdown .dropdown-menu li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.dropdown .dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown .dropdown-menu a {
    padding: 10px 20px;
    display: block;
    color: #333;
    text-decoration: none;
}

.dropdown .dropdown-menu a:hover {
    color: #d8a85c;
    background-color: #ffffff;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}


@media (max-width: 600px) {
    .nav-item{
        padding-top: 0%;
        padding-bottom: 0%;
    }
}


/*Footer*/

footer {
    background-color: #f9f9f9; /* Fundo suave */
    padding: 40px 0;
    color: #333;
    font-family: 'Arial', sans-serif;
    border-top: 2px solid #ddd; /* Borda superior sutil */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza verticalmente */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Padding interno do container */
}

.logo1 img {
    max-width: 220px; /* Tamanho aumentado do logo principal */
}

.contact, .follow, .logo1 {
    flex: 1;
    padding: 0 20px; /* Padding lateral consistente */
}

.contact {
    /* Adiciona padding e garante que o conteúdo fique centralizado verticalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact h3, .follow h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #000; /* Cor de destaque */
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact li .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.follow .social-icons {
    display: flex;
    gap: 20px; /* Espaço aumentado para ícones maiores */
    margin-top: 10px;
}

.social-icons a {
    transition: transform 0.3s, filter 0.3s;
}

.social-icons a .social-icon {
    width: 50px; 
    height: 50px;
}

.social-icons a:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.complaint-link {
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
    color: #555;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s;
}

.complaint-link:hover {
    color: #000;
}

.complaint-logo {
    max-width: 180px; 
    height: auto; 
}

.fa {
    margin-right: 8px;
}
.reclamacoes{
    padding-top: 20px;
}

#footer{
    padding-top: 5% ;
}


.footer-bottom {
    background-color: #f9f9f9; 
    padding: 10px 0;
    text-align: center;
    font-size: 12px; 
    color: #666;  
    border-top: 1px solid #ccc; 
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: #0077b6; 
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer-bottom {
        font-size: 11px; 
        
    }
    .logo1 {
        display: none; /* Oculta o logo em dispositivos móveis */
    }
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 36%); /* 3 colunas de tamanho igual */
    grid-gap: 15px; /* Espaçamento entre as imagens */
    width: 100%; /* Ocupa a largura total da janela */
    padding: 10px; /* Margem interna */
    box-sizing: border-box; /* Garante que padding não afete a largura total */
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 8%;
}

/* Contêiner de cada imagem */
.image-container {
    position: relative;
    overflow: hidden; /* Esconde qualquer excesso */
    transition: transform 0.5s ease-in-out;
}

/* Imagens que preenchem totalmente o espaço */
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
}

.image-container:hover{
    transform: scale(1.2);
    z-index: 1;
}

.language-selector {
    display: flex;
    gap: 15px;
    padding: 10px;
    background-color: #ece5e5;
}

.language-selector a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 16px;
    transition: color 0.3s, font-weight 0.3s;
}

.language-selector a:focus {
    font-weight: bold;
    outline: none; /* Remove a borda padrão de foco */
}

.language-selector a:hover {
    color: gray;
}

